*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: #218380;
    border: none;
    transition : 0.4s;
    padding: 0.7rem; 
    border-radius: 1rem;
}button:hover{
    transform: scale(1.15);
}
a{
    text-decoration: none;
    color: white;
}